@font-face {
    font-family: 'built_titlinglight';
    src: url('../css/fonts/built_titling_lt-webfont.woff2') format('woff2'),
         url('../css/fonts/built_titling_lt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,
html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}
html {
    background-color:  #364652;
}

main {
    padding-top: 20px;
    margin:  0 auto;
    width: 100%;
    max-width: 1200px; 
    background-color: #FAFCF9;
    text-align: center;
    min-height: 74%;
}

.icons{
    padding-top: 0px;
    margin-top: 0px;
    margin:  0 auto;
    width: 100%;
    max-width: 1200px; 
    background-color: #FAFCF9;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #364652;
}



h1 {
    font-family: 'built_titlinglight';
    font-weight: lighter;
    color: #364652;
    margin-top: 10px;
}

h2 {
    font-family: 'built_titlinglight';
    font-weight: lighter;
    color: #364652;
    font-size: 3.5em;
    line-height: 20px;
}

.heading {
    margin:  0 auto;
    width: 100%;
    max-width: 1200px; 
}
footer p{
    text-align: right;
    color: white;
    margin-top: 0px;
}
header {
    position:relative;
    display:block;
    max-width:100%;
    margin:0 auto;
    padding:1rem 0rem;
    background: #91CAE0;
}
header h1 {
    line-height: 45px;
    font-size: 55px;
    margin: 0;
    display:inline;
    padding-left: 25px;
}

nav {
    float: right;
    padding-bottom: 0px;
    padding-right: 10px;
}
nav ul{
    list-style-type: none;
    text-align: right;
    margin: 0 auto;
    font-family: 'built_titlinglight';
    
}
nav li {
    font-size: 45px;
    display: inline;
    padding:  7px;
    font-weight: bold;
}

nav a{
    color:  #364652;
    font-weight: lighter;
    text-decoration: none;
}
nav a:hover {
    color:  #fff;
}
a:hover{
    cursor: pointer;
}
/* Mobile Drop Down Nav Bar */
.dropbtn {
    font-family: 'built_titlinglight';
    color: #364652;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropdown {
    text-align: left;
    position: relative;
    display: none;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-family: 'built_titlinglight';
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    

}

.dropdown-content a {
    font-size: 30px;
    color: #364652;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #364652;  
    color: white;                            
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: white;
}

.content-title {
    
    font-size: 90px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info-title {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: #822432;
    color: white;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #822432;
  color: white;
}

.fa-twitter {
  background: #822432;
  color: white;
}


.fa-pinterest {
  background: #822432;
  color: white;
}

.profile ul{
    font-family: 'Open Sans', sans-serif;
    color: #364652;
    text-align: left;
    list-style: none;
}

.login-form {
    text-align: center;
}

.login-form .form-align{
    display: inline-block;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #364652;
}

.form-button{
    display: inline-block;
    background-color: #364652;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.form-button:hover{
    opacity: 0.8;
    cursor: pointer;
}


.sign-up{
    background-color: #822432;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.sign-up:hover{
    opacity: 0.8;
    cursor: pointer;
}

.city-list {
    max-width: 700px;
    margin: 0 auto;
}

.city-list a{
    font-size: 45px;
    font-family: 'built_titlinglight';
    margin-top: 15px;
    margin-bottom: 20px;
}

.cities{
    display: inline-block;
    background-color: #822432;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.cities:hover{
    opacity: 0.8;
    cursor: pointer;
}

.notice{
    color: red;
}

.success {
    font-weight: bold;
}

.update-form{
    text-align: center;
    border: 3px solid #822432;
    padding: 15px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #364652;
}
.update-form [type=submit]{
    background-color: #364652;
    color: white;
    padding: 10px 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.update-form [type=submit]:hover{
    opacity: 0.8;
}

.update-form label{
    display: inline-block;
    text-align: left;
}


#attractions-table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#attractions-table td, #attractions-table th {
    border: 1px solid #8e8e8e;
    padding: 8px;
    text-align: left;
}

#attractions-table tr:nth-child(even){background-color: #f2f2f2;}

#attractions-table tr:hover {background-color: #b2b2b2;}

#attractions-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #822432;
    color: white;
}

.map iframe{
    border-color: #822432;
    border-width: 10px;
    border-style: solid;
    float: right;
    margin-right: 0px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.4);
}

.attraction-links a{
    display: inline-block;
    position: relative;
    width: 190px;
    height: 39px;
    overflow: hidden;
    float: left;
    margin-left: 15px;
    
    
}
.attraction-links img{
     position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    display: inline-block;
    box-sizing: border-box;
    
}

a.hovertext {
    position: relative;
    width: 100%;
    max-width: 190px;
    height: 300px;
    text-decoration: none !important;
    text-align: left;
    line-height:26px;
    margin-top: 15px;
    
  }
  a.hovertext::after {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(54, 70, 82, 0.8);
    font-weight: lighter;
    font-size: 1.2em;
    content: attr(title);
    position: absolute;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 1px;
    left: 0;
    margin-bottom: 270px;
    width: 197px;
    text-decoration: none !important;
    color: white;
    opacity: 1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.hovertext:hover::after, a.hovertext:focus::after {
    opacity: 0.4;
  }
  
  .list-button{
    background-color: #822432;
    border: none;
    color: white;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 34px;
    font-family: 'built_titlinglight';
    font-weight: lighter;
    
}

.list-button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.list-div{
    display: inline-block;
}

.info-div {
    margin-top: 40px;
}

.attraction-info {
    font-size: 1.3em;
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    padding: 10px;
}

  .return-button{
    background-color: #364652;
    border: none;
    color: white;
    padding-bottom: 0px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 40px;
    font-family: 'built_titlinglight';
    font-weight: lighter;
    
}

.return-button:hover{
    opacity: 0.8;
    cursor: pointer;
}
/* @Media for Mobile Displays */
@media screen and (min-width: 320px) {
    nav ul {display: none;}
    .dropdown { display: block; }
}
/* For big display cell phones */
@media screen and (min-width: 430px) {
    header {
        padding:1rem 2rem;
    }
    .dropdown-content a {
        font-size: 40px;
    }
    .map iframe{
        margin-right: 40px;
    }
    .attraction-img {
        float: left;
        margin-left: 10%;
    }
    
}

@media screen and (min-width: 599px) {

    
}
/* For tablets: */
@media screen and (min-width: 640px) {
   nav ul     { display: inline; }
    .dropdown { display: none; }
}

/* For desktop: */
@media screen and (min-width: 800px) {

}

@media screen and (min-width: 900px) {
 
}

